table{
    border-collapse: collapse;
    background-color: lightgray;
    width: 100%;
}

th{
    padding: 15px;
    border-bottom: solid 2px black;
    font-family: "Arial Black";
}

td,th{
    transition: all 0.3s ease;
    text-align: center;
    font-family: "Gadugi";
    align-self: stretch;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: pulse 1s infinite;
    padding: 8px;
}

td:hover {

    transition: all 0.3s ease;
    background-color: #ddd;
    color: #333;
}

tr{
    font-size: 19px;
}
tr:hover {

    transition: all 0.3s ease;
    background-color: #ddd;
}


