.header-user-list{
    color: #0b1908;
    font-size: 40px;
    font-weight: bold;
    font-family: "Maiandra GD";
    margin-left: 565px;
    margin-top: 100px;
}

.user-live-games-container{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    margin-left: 350px;
}

.row-user-live-games{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 78%;
    margin-bottom: 15px;
    background-color: #f0f0f0;
    border: 3px solid;
    box-shadow: 0 2px 4px rgba(0,0,0,1);
    transition: transform 0.2s ease;
    border-radius: 5px;
}

.ball-icon-btn{

    transition: transform 0.2s ease;
    border-radius:50%;
    font-size: 50px;
    border: 1px solid;
    background-color: #379dff;
}

.ball-icon-btn:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.vs{
    font-family: "Arial Rounded MT Bold";
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    margin-left: 400px;
    color: #f1c40f;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(2,2,2,2);
}

.row-user-home-team{
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 30px;
}
.row-user-away-team{

    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 250px;
}
.icon-team{
    margin: 5px;
    width: 12%;

}

.name-team{

    font-family: source-code-pro;
    font-size: 21px;
    position: absolute;
    margin-left: 50px;

}

.EndGame{

    background-color: rgba(192, 255, 215, 0.73);
    border-radius:20px;
    font-size:25px;
    font-family: source-code-pro;
    font-weight: bold;
    margin-left: 40px;


}
.EndGame:hover{
    cursor: pointer;
}

.runLiveBtn{
    background-color: rgba(192, 255, 215, 0.73);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 35px;
    font-family: source-code-pro;
}
.runLiveBtn:hover{
    cursor: pointer;
}


